* {
   padding: 0;
}
/* Переменные для цвета для последующего использования */
:root {
   --dark: #374151;
   --darker: #1f2937;
   --darkest: #111827;
   --grey: #6b7280;
   --pink: #ee1883;
   --purple: #763ff7;
   --light: #eee;
   --gradient_grey: linear-gradient(90deg, #1b2121, #606f6f);
}

body {
   font: 16px 'Roboto';
   /* background-color: var(--dark); */
   background: var(--gradient_grey);
   /* display: flex;
		flex-direction: column; */
   min-height: 100vh;
}

input {
   appearance: none;
   border: none;
   outline: none;
   background: none;
}

/*! Button 'Submit'*/
#submit-form,
button {
   color: var(--pink); /* Первоначальный цвет кнопки или теста в ней */
   font-size: 2rem;
   font-weight: 700;
   background-image: linear-gradient(to right, var(--pink), var(--purple));
   -webkit-background-clip: text; /* Фон закрашивается внутри текста, текст на передний план */
   -webkit-text-fill-color: transparent; /*Цвет текста прозрачный и принимает цвет-градиент фона*/
   cursor: pointer;
   border: none;
   transition: 0.4s; /* Время появления объекта на экране */
}

#submit-form:hover {
   opacity: 0.7;
}

#submit-form:active {
   opacity: 0.5;
}

/*! Input field*/
#input {
   display: flex; /* Элементы флекс размещаются в ряд. Кнопка справа от поля ввода */
   /* max-width: 800px;
   width: 100%; */

   /* -webkit-box-shadow: 1 2px 10px 0 #074b83;
	box-shadow: 0 2px 10px 0 #074b83; */
}

#input_field {
   display: flex;
   max-width: 800px;
   width: 100%;
   background-color: var(--darkest);
   padding: 1rem;
   border-radius: 1rem;
   margin-right: 0.5rem; /* Между кнопкой и инпутом */
   margin-bottom: 0.5rem; /* Между инпутами */
   color: var(--light); /* Цвет текста */
   font-size: 1.25rem;
}

#input_field::placeholder {
   color: var(--grey);
}

.conteiner {
   width: 700px;
   margin: 0 auto;
   padding: 0 20px;
}

.header {
   padding: 20px 0;
}

.header img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
}
